<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .header {
            text-align: right;
            margin-bottom: 15px;
        }
        .info {
            display: flex;
            justify-content: space-between;
        }
        .section {
            margin-bottom: 20px;
        }
        .table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        .table th, .table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        .total {
            margin-top: 20px;
            text-align: right;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1 style="color: #333333; font-size: 28px; font-weight: bold; text-align: right;">Receipt</h1>
    </div>
    <div class="info">
        <div class="section">
            <div><strong>Receipt No.</strong></div>
            <div>{{ receiptNumber }}</div>
        </div>
        <div class="section">
            <div><strong>Date Issued</strong></div>
            <div>{{ dateIssued }}</div>
        </div>
        <div class="section">
            <div><strong>Status</strong></div>
            <div style="color: red;">{{ status }}</div>
        </div>
    </div>
    <div class="info">
        <div class="section">
            <div><strong>From</strong></div>
            <div>{{ fromInfo }}</div>
        </div>
        <div class="section">
            <div><strong>To</strong></div>
            <div>{{ toInfo }}</div>
        </div>
    </div>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>DESCRIPTION</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Booked {{ courtTitle }} of {{ venueName }} for {{ duration }} at {{ date }} ({{ time }})</td>
                    <td>{{ totalAmount }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="total">
        <div><strong>Subtotal:</strong> {{ subtotal }}</div>
        <div><strong>Tax:</strong> 0.00 SAR</div>
        <div><strong>Total:</strong> {{ totalAmount }}</div>
    </div>
</body>
</html>